#В этом файле содержаться записаны директории и файлы, которые будут игнорироваться gitом
#Мы Игнорируем любые бинарные файлы, кэш CMake, лог-файлы и т. д., так как они собираются из исходников и файлов CMake

#Игнорируем все файлы в директоиях bin и build
bin/
build/

#Игнорируем любые бинарные файлы
*.obj
*.lib
*.dll
*.exe

#Игнорируем любые файлы Visual Studio
*.sln
*.suo
*.vcxproj
*.vcxitems
*.sdf
*.vcxproj.filters
*.vcxproj.user
*.idl

#Игнорируем любые лог-файлы
*.log